<%= render 'layouts/navbar' %>
    <!--Main Content-->

    <div class="container white-container">
        <div class="row">
            <div class="col-xs-6">
                <h3> Donor Information</h3>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-12 col-sm-6">
                    <h3> Schedule Pickup</h3>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3> Reject Pickup</h3>
                </div>
            </div>
        </div>
        <%= form_for(@pickup) do |f| %>
        <div class="row">
            <div class="col-xs-6">

                <!--Donor Info -->

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <%= f.label :donor_name, "Name" %>
                                <%= f.text_field :donor_name, class: 'form-control' %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :donor_phone, "Phone Number" %>
                        <%= f.text_field :donor_phone, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                        <%= f.label :donor_email, "E-Mail"  %>
                        <%= f.email_field :donor_email, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :donor_address_line1, "Address Line 1" %>
                        <%= f.text_field :donor_address_line1, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                        <%= f.label :donor_address_line2, "Address Line 2" %>
                        <%= f.text_field :donor_address_line2, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <%= f.label :donor_city, "City" %>
                                <%= f.text_field :donor_city, class: 'form-control'  %>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <%= f.label :donor_zip, "Zip Code" %>
                                <%= f.text_field :donor_zip, class: 'form-control' %>
                            </div>
                        </div>
                    </div>

                    <!--Address-->
                    <div class="form-group">
                        <%= f.label :donor_dwelling_type, "Type of Residence" %>
                        <%= f.text_field :donor_dwelling_type, class: 'form-control' %>
                    </div>
            </div>
            <!--END DONOR INFO-->

            <!--Schedule & Reject -->
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">
                        <label for="pickupDays">Day: </label>
                        <select class="form-control">
                            <option value="1">Fri Apr 22 5 Pickups</option>
                            <option value="2">Mon Apr 25 3 Pickups</option>
                            <option value="3">Thu Apr 28 8 Pickups</option>
                            <option value="3">Mon May 2 0 Pickups</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label for="rejectReson">Reason: </label>
                        <select class="form-control">
                            <option value="1">Damaged</option>
                            <option value="2">Not First Floor</option>
                            <option value="3">Too Far away</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- END SCHEDULE & REJECT -->

            <!-- Item Info -->

            <div class="col-xs-6">
                <h5> Please enter the number of items to be donated, and a brief description of them.</h5>
                <!--Number of Items-->

                    <div class="form-group">
                        <%= f.label :number_of_items, "Number of Items" %>
                        <%= f.number_field :number_of_items, class: 'form-control' %>
                    </div>

                    <!-- Item & Donor Notes-->
                    <!-- Max text input length 300 chars -->
                    <div class="form-group">
                        <%= f.label :item_description, "Item Description(s)"  %>
                        <%= f.text_area :item_description, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                        <%= f.label :other_notes, "Other Notes"  %>
                        <%= f.text_area :other_notes, class: 'form-control' %>
                    </div>

                    <!-- Form sumbit-->
                    <div class="padding-top">
                        <div class="col-lg-4">
                             <%= f.submit "Save Changes to Pickup", class: "btn btn-primary" %>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-danger btn-lg">Reject Pickup</button>
                        </div>
                    </div>
                    
            </div>
            <!-- END ITEM INFO-->
            <% end %>
        </div>
        
    </div>