</head>

  <body>

      <%= render 'layouts/navbar' %>
      <div class='container white-container'>
        <div class="row">
            <div class="col-xs-6">
                <h3> Donor Information</h3>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-12 col-sm-6">
                    <h3> Schedule Pickup</h3>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3> Reject Pickup</h3>
                </div>
            </div>
        </div>

        <%= form_for(@pickup) do |f| %>
          
          <%= f.label :donor_name, "Name" %>
          <%= f.text_field :donor_name, class: 'form_control' %>

          <%= f.label :donor_address_line1, "Address" %>
          <%= f.text_field :donor_address_line1, class: 'form_control' %>
          
          <%= f.label :donor_address_line2, "- - - - - -" %>
          <%= f.text_field :donor_address_line2, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :donor_city, "City" %>
          <%= f.text_field :donor_city, class: 'form_control'  %>
          <br>
          <br>
          
          <%= f.label :donor_zip, "Zip Code" %>
          <%= f.text_field :donor_zip, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :donor_dwelling_type, "Type of Residence" %>
          <%= f.text_field :donor_dwelling_type, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :donor_location_instructions, "Location Instructions"  %>
          <%= f.text_field :donor_location_instructions, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :donor_phone, "Phone Number" %>
          <%= f.text_field :donor_phone, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :donor_email, "E-Mail"  %>
          <%= f.email_field :donor_email, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :number_of_items, "Number of Items" %>
          <%= f.number_field :number_of_items, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :item_description, "Item Description(s)"  %>
          <%= f.text_area :item_description, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :other_notes, "Other Notes"  %>
          <%= f.text_area :other_notes, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :pickup_time, "Pickup Time"  %>
          <%= f.text_field :pickup_time, class: 'form_control' %>
          <br>
          <br>
          
          <%= f.label :day_id, "Schedule Day" %>
          <%= select_tag :day_id, options_for_select(@days.collect{|d| [d.date.strftime("%a %b %d"), d.id]}),
      class: "form-control" %>
          
          <%= f.submit "Save Changes to Pickup", class: "btn btn-primary" %>
          
          
        <% end %>

    </div>

  </body>

</html>