<p id="notice"><%= notice %></p>

<h1>Listing Pickups</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Donor name</th>
      <th>Donor address line1</th>
      <th>Donor address line2</th>
      <th>Donor city</th>
      <th>Donor zip</th>
      <th>Donor dwelling type</th>
      <th>Donor location instructions</th>
      <th>Donor phone</th>
      <th>Donor email</th>
      <th>Number of items</th>
      <th>Item description</th>
      <th>Other notes</th>
      <th>Pickup time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pickups.each do |pickup| %>
      <tr>
        <td><%= pickup.day_id %></td>
        <td><%= pickup.donor_name %></td>
        <td><%= pickup.donor_address_line1 %></td>
        <td><%= pickup.donor_address_line2 %></td>
        <td><%= pickup.donor_city %></td>
        <td><%= pickup.donor_zip %></td>
        <td><%= pickup.donor_dwelling_type %></td>
        <td><%= pickup.donor_location_instructions %></td>
        <td><%= pickup.donor_phone %></td>
        <td><%= pickup.donor_email %></td>
        <td><%= pickup.number_of_items %></td>
        <td><%= pickup.item_description %></td>
        <td><%= pickup.other_notes %></td>
        <td><%= pickup.pickup_time %></td>
        <td><%= link_to 'Show', pickup %></td>
        <td><%= link_to 'Edit', edit_pickup_path(pickup) %></td>
        <td><%= link_to 'Destroy', pickup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pickup', new_pickup_path %>
