<%= render 'layouts/navbar' %>
<div class='container white-container'>
  <div class="row">
    <%= render 'layouts/flash_messages' %>
      <div class="col-xs-10 col-xs-offset-1">
          <h2>Pending Pickups</h2>
          <p>Select a pickup from the list below to edit. To add a new pickup click 'Add New Pickup'</p>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-5 col-xs-offset-1">
          <a href="/pickups/new"><btn class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Pickup</btn></a>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
          <table class="table table-hover table-striped table-responsive">
              <thead>
                  <tr>
                      <th>Last Name</th>
                      <th>Town</th>
                      <th>Item Quantity</th>
                      <th>Item Description</th>
                  </tr>
              </thead>
              
              <tbody>
                <% pCount = 0 %>
                <% @pickups.each do |pickup| %>
                  <% if(pickup.day_id == nil) %>
                    <tr style="cursor:pointer;" data-link="<%= pickups_path %>/<%= pickup.id %>/edit">
                        <td><%= pickup.donor_name %></td>
                        <td><%= pickup.donor_city %></td>
                        <td><%= pickup.number_of_items %></td>
                        <td><%= pickup.item_description %></td>
                    </tr>
                    <% pCount += 1 %>
                  <% end %>
                <% end %>
                <% if pCount == 0 %>
                  <tr>
                    <td colspan="4"> All pickups are currently scheduled! Check out the <a href="/days">schedule</a> to see when.</td>
                  </tr>
                <% end %>
              </tbody>
          </table>
      </div>
  </div>
</div>