<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @pickup.day_id %>
</p>

<p>
  <strong>Donor name:</strong>
  <%= @pickup.donor_name %>
</p>

<p>
  <strong>Donor address line1:</strong>
  <%= @pickup.donor_address_line1 %>
</p>

<p>
  <strong>Donor address line2:</strong>
  <%= @pickup.donor_address_line2 %>
</p>

<p>
  <strong>Donor city:</strong>
  <%= @pickup.donor_city %>
</p>

<p>
  <strong>Donor zip:</strong>
  <%= @pickup.donor_zip %>
</p>

<p>
  <strong>Donor dwelling type:</strong>
  <%= @pickup.donor_dwelling_type %>
</p>

<p>
  <strong>Donor location instructions:</strong>
  <%= @pickup.donor_location_instructions %>
</p>

<p>
  <strong>Donor phone:</strong>
  <%= @pickup.donor_phone %>
</p>

<p>
  <strong>Donor email:</strong>
  <%= @pickup.donor_email %>
</p>

<p>
  <strong>Number of items:</strong>
  <%= @pickup.number_of_items %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @pickup.item_description %>
</p>

<p>
  <strong>Other notes:</strong>
  <%= @pickup.other_notes %>
</p>

<p>
  <strong>Pickup time:</strong>
  <%= @pickup.pickup_time %>
</p>

<%= link_to 'Edit', edit_pickup_path(@pickup) %> |
<%= link_to 'Back', pickups_path %>
