<div class="row">
      <%= form_for (@user), url: {action: "create"}, html: {class: "nifty form"} do |f| %>
      
        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: 'form-control' %>
        </br>
      
        <%= f.label :user_email %>
        <%= f.email_field :user_email, class: 'form-control' %>
        </br>
        
        <%= f.label :permission_level %>
        <%= f.select :permission_level, [['Entry','0'],['Standard','1'],['Admin','2']], :include_blank => true %>
        </br>
        </br>
      
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        </br>
      
        <%= f.submit "Create Account", class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, class: "btn btn-primary" %>
      <% end %>
</div>