<%=render 'layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 well'>
      <%= form_tag('/reports/donor.csv', :method => 'get') do %>
      <div class="form-group">
      Month:
      <%= select_month(Date.today, {}, {:class => "extra-right-margin form-control"} ) %>
      Year:
      <%= select_year(Date.today, {:start_year => Time.now.year, :end_year => Time.now.year - 2},
       {:class => "form-control"}) %>
      </div>
      <div class="form-group">
      Save As:
      <%= text_field_tag 'filename', nil, class: 'form-control'%>
      </div>
      <div class="form-group">
      <%= submit_tag 'Export', class: 'btn btn-success btn-wide extra-right-margin' %>
      <%= link_to "<btn class='btn btn-danger btn-wide'>Cancel</btn>".html_safe, '/reports'%>
      </div>
      <% end %>
    </div>
  </div>
</div>