<%=render 'layouts/navbar' %>
<div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 well">
                <h2 class="text-center">Truck Reports</h2>
                <p class="text-center">Select a pickup date below to export 
                the daily truck report or MapQuest route information.</p>
                <br>
      <%= form_tag('/reports/truck', :method => 'get') do %>
      <div class="form-group">
      Pickup Day:
      <%= select_tag 'pickupday', options_for_select(@days.collect{|d| [d.date.strftime("%b %d"), d.date]}),
      class: "form-control" %>
      </div>
     <%= submit_tag 'Routes CSV', {:name => 'csv',:class => 'btn btn-success btn-wide extra-right-margin'} %>
      <%= link_to 'Cancel', '/reports', class: 'btn btn-danger btn-wide'%>
      <%= submit_tag 'Routes PDF', {:name => 'pdf',:class => 'btn btn-success btn-wide extra-right-margin'} %>
      <% end %>
    </div>
  </div>
</div>