<%=render 'layouts/navbar' %>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 well">
        <h2 class="text-center">Truck Reports</h2>
        <p class="text-center">Select a pickup date below to export the daily 
        truck report or MapQuest route information.</p>
        <br>
        <div class="form-group">
          Pickup Day:
          
          <!--Builds a dropdown menu with all the formatted dates as options and the-->
          <!--actual date as values. Ex: 2016-01-09 is shown as Jan 9.-->
          <%= select_tag 'pickupday', options_for_select(@days.collect{|d| 
          [d.date.strftime("%b %-d"), d.date]}),
          class: "form-control" %>
        </div>
        <br>
        
        <!--Checkboxes and labels. html_safe allows us to insert html inside the string-->
        <div class="form-group">
          <%= check_box_tag 'pdf', 'pdf', true %>
          <%= label_tag 'pdf', '&nbsp;Truck Report'.html_safe %>
          <br>
          <%= check_box_tag 'csv', 'csv', true %>
          <%= label_tag 'csv', '&nbsp;MapQuest Route'.html_safe %>
        </div>
          <br>
        <div class="form-group">
          
          <!--Export can cancel buttons-->
          <%=button_tag 'Export', type: 'button', id: 'exportButton', class: 'btn btn-success btn-wide extra-right-margin'%>
          <%= link_to 'Cancel', '/reports', class: 'btn btn-danger btn-wide'%>
        </div>
      </div>
    </div>
  </div>

<!--In order to have the ability to download multiple files with a single request/click -->
<!--of a button, I attached a javascript function to the export button. The alternative -->
<!--is to bundle the two files together into a zipped folder. -->
<script>
var pdfCheckBox = document.getElementById("pdf");
var csvCheckBox = document.getElementById("csv");
var submitButton = document.getElementById("exportButton");
var select = document.getElementById("pickupday");

// Attaches an onClick listener to the export button 
submitButton.addEventListener("click", exportFiles);

//This function is called everytime the user clicks the export button
function exportFiles()
{
  //Used iframes to be able to download multiple files
  if (pdfCheckBox.checked){
    var iframe = document.createElement('iframe');
    
    //Url is built using the selected value in the dropdown menu
    url = "/reports/truck.pdf?pickupday=" + select.value;
    iframe.style.display = "none";
    iframe.src = url ;
    document.body.appendChild(iframe);
  }
  if (csvCheckBox.checked){
    var iframe = document.createElement('iframe');
    
    //Url is build using the selected value in the dropdown menu
    url = "/reports/truck.csv?pickupday=" + select.value;
    iframe.style.display = "none";
    iframe.src = url ;
    document.body.appendChild(iframe);
  }
}
</script>