<%= render 'layouts/navbar' %>

<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
        weekends: false,
        defaultView: 'month',
        dayClick: function(date, jsEvent, view){
            $('#calendar').fullCalendar( 'refetchEvents' );
            $('#calendar').fullCalendar( 'renderEvent', {id:'0000TEMP0000', title:'newDay', start: date, rendering:'background', allDay:true, color:'blue'});
        },
        header: {
          left:   'title',
          center: '',
          right:  'today prev,next'
        }
    })
    
    GetAllDays();
  });
  
    function AddDay(d) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/days/create",
            data: { date: d },
            success: function(data) {
                GetAllDays();
                    $('#confirmModal').modal('hide');
                },
            error: function(data) {
                $('#confirmModal').modal('hide');
                displayError(data.responseText);
            }
        });
    }

    function GetAllDays() {
        var events = [];
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/days/all",
            success: function(data) {
                $.each(data, function(key, value){
                    events.push({title:key, start:value.date, rendering:'background', allDay:true, color:'green'});
                })
                $('#calendar').fullCalendar( 'removeEvents' )
                $('#calendar').fullCalendar( 'addEventSource', events );
                $('#calendar').fullCalendar( 'refetchEvents' );
            },
            error: function(data) {
                $('#confirmModal').modal('hide');
                displayError(data.responseText);
            }
        });
    }
    
    function displayConfirm(date, jsEvent, view) {
        var modal = "<div class=\"modal fade\" id=\"confirmModal\" role=\"dialog\">" +
                        "<div class=\"modal-dialog modal-sm\">" +
                          "<div class=\"modal-content\">" +
                            "<div class=\"modal-header\">" +
                                "<h4 class=\"modal-title\">Confirmation</h4>" +
                            "</div>" +
                            "<div class=\"modal-body\">" +
                                "<p>Make <strong>" + date.format('dddd, MMMM Do') + "</strong> avaliable to schedule pickups?</p>" +
                            "</div>" +
                            "<div class=\"modal-footer\">" +
                                "<button id=\"okButton\" type=\"button\" class=\"btn btn-success\" onclick=\"AddDay('"+date.format('Y-MM-DD')+"')\">Yes</button>" +
                                "<button type=\"button\" class=\"btn btn-danger\" data-dismiss=\"modal\">No</button>" +
                            "</div>" +
                          "</div>" +
                        "</div>" +
                      "</div>";
        $( ".container" ).append( modal );
        $('#confirmModal').modal({
            backdrop: 'static',
            keyboard: false
        }).show().on('hidden.bs.modal', function (e) {
          $(this).remove();
        });
    }
    
    function displayError(error){
        var modal = "<div class=\"modal fade\" id=\"errorModal\" role=\"dialog\">" +
                            "<div class=\"modal-dialog modal-sm\">" +
                              "<div class=\"modal-content\">" +
                                "<div class=\"modal-header\">" +
                                    "<h4 class=\"modal-title\">Error</h4>" +
                                "</div>" +
                                "<div class=\"modal-body\">" +
                                    "<p>"+error+"</p>" +
                                "</div>" +
                                "<div class=\"modal-footer\">" +
                                    "<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">OK</button>" +
                                "</div>" +
                              "</div>" +
                            "</div>" +
                          "</div>";
            $( ".container" ).append( modal );
            $('#errorModal').modal({
                backdrop: 'static',
                keyboard: false
            }).show().on('hidden.bs.modal', function (e) {
              $(this).remove();
            });
    }
    
</script>

<div class="container white-container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
            <h5 class="text-center">Select a day to add it to the schedule.</h5>
            <div id='calendar' style='width:100%; height:100%; padding-bottom:10%;'></div>
        </div>
        <div class="col-xs-6 col-xs-offset-1">
            <br />
            <br />
            <p>To add a day, either select a day on the calendar or manually input the day below: </p>
            <div class="row">
                <div class="col-xs-9 col-xs-offset-1">
                    <%= form_tag(days_create_path, :method=>'post') do %>
                        <div class="form-group">
                            Month:
                            <%= select_tag("month", options_for_select(@month_options, Date::MONTHNAMES[Date.today.month]), :class => 'form-control') %>
                        </div>
                        <div class="form-group">
                            Day:
                            <%= select_tag("day", options_for_select(@day_options, 1), :class => 'form-control') %>
                        </div>
                        <div class="form-group">
                            Year:
                            <%= select_tag("year", options_for_select(@year_options, Time.new.year), :class => 'form-control') %>
                        </div>
                        <br>
                        <div class="form-group">
                            <a href="/schedule/schedule1">
                                <btn class="btn btn-success btn-wide extra-right-margin">Submit</btn>
                            </a>
                            <a href="/schedule/schedule1">
                                <btn class="btn btn-danger btn-wide">Cancel</btn>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Change the number of days we show based on the month and year selected
    $("#month, #year").change(function() {
        var dateObj = new Date( $("#month").val() + "1 ," + $("#year").val())
        var numDaysInMonth = new Date(dateObj.getFullYear(), dateObj.getMonth() + 1, 0).getDate()
        $('#day > option').each(function(){
            if (Number(this.value) <= numDaysInMonth) {
                $(this).show();
            } else {
                $(this).hide();
            }
        })
    });
</script>